{% extends '_base.html' %}


{% block content %}

    <small>By: 
        {{ post.author }}  
        {{ post.post_date }}<br>
        <hr>

        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <a href="{% url 'update_post' post.pk %}">(Edit)</a> |
                <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
            {% endif %}
        {% endif %}
    </small>
    <br>
    {{ post.body|safe }}

    <br>
    <hr>
    <h2>Комментарии...</h2>
    {% for comment in post.comments.all %}
            <p>
              <span class="font-weight-bold">{{ comment.name }} &middot; {{ comment.date }} &middot;</span>
              <br>
              {{ comment.body }}
            </p>
    {% endfor %}

    <a href="{% url 'add_comment' post.pk %}">Добавить комментарий</a>

{% endblock %}